*{
    margin: 0;
    padding: 0;
} 
body{
    font-family: "Noto Serif", serif;
    background-color: #f5f8ff;
    max-width: 80%;
    margin: 0 auto;
    

}

/* site logo and nav section */
.sitenav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav{
    display: flex;

}
.logo img{
    width: 80%;
}

.navbar{
    

}

.navbar ul{
    list-style: none;
    display: flex;
    
}

.navbar ul li{
    padding-right: 30px;

}

.navbar ul a{
    text-decoration: none;
    color: #252432;
    font-weight: 400;


}
.cart{
    text-decoration: none;
    color: #252432;
}


#nav-link{
    color: black;
    font-weight: 500;

}

.navbar ul li a:hover{
    color: red;
}
.navbar ul:nth-child(1){
    opacity: 0.8;
}
/* nav end */

