*{
    margin: 0;
    padding: 0;
} 
body{
    font-family: "Noto Serif", serif;
    background-color: #f5f8ff;
    max-width: 80%;
    margin: 0 auto;
    

}

/* shared style 

color: #E95A08 orange
color: rgba(0, 0, 0, 0.5); paragraph

*/

/* site logo and nav section */
.sitenav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.nav{
    display: flex;

}
.logo img{
    width: 80%;
}

.navbar{
    

}

.navbar ul{
    list-style: none;
    display: flex;
    
}

.navbar ul li{
    padding-right: 30px;

}

.navbar ul a{
    text-decoration: none;
    color: #252432;
    font-weight: 400;


}
.cart{
    text-decoration: none;
    color: #252432;
}
.cartlogo{
    padding-right: 5px;
    opacity: 0.8;
}


#nav-link{
    color: black;
    font-weight: 500;

}

.navbar ul li a:hover{
    color: red;
}
.navbar ul:nth-child(1){
    opacity: 0.8;
}
/* nav end */

/* banner section start */

.banner-container{
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    margin-bottom: 100px;
}

.bannerleft{
    align-content: center;
    width: 60%;
    padding-top: 20px;
}
.bannerleft h1{
    font-size: 65px;
    color: #E95A08;
    padding-bottom: 10px;
}
.singletext{
    color: black;

}
.bannerleft p{
    color: rgba(0, 0, 0, 0.5);
}
.bannerright img{
    width: 100%;
}

/* card section ------------------------------------------*/

.cardheading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.cardheading h1{
    color: #E95A08;
    font-size: 50px;

}
.singletext2{
    color: black;
}
.cardheading p{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
    padding: 15px 50px;
    text-align: center;
    padding-bottom: 50px;
    
}

.card{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.card img{
    width: 100%;
    padding-bottom: 20px;
}
.card h3{
    font-size: 22px;
    font-weight: 400;
}
.card h2{
    font-size: 22px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom:20px ;
}

.btn-card{
    background-color: #E95A08;
    color: white;
    border: 0;
    width: 100%;
    padding: 15px;
}

.card-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:20px 15px ;
    margin-bottom: 50px;
}


/* another section similar to banner--------------------------------------------- */

.bannersimilar{
    display: flex;
    /* justify-content: center; */
    gap: 70px;
    align-items: center;
    padding: 100px 0px;
}
.bannerlike{
    position: relative;
    width: 100%;

}
.bannerimg{
    

}
.bannerimg img{
    width: 100%;
    height: 650px;
}

.bannerlikeright{
    width: 90%;
}
.bannerlikeright h1{
    font-size: 50px;
}
.bannerlikeright ul{
    padding-left: 40px;
}
.bannerlikeright ul li{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.5);

}
.badge{
    position: absolute;
        top: 0;
        left: 350px;
        right: -200px;
        margin-top: -80px;
        
} 
.badge img{
    width: 70%;
    /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */

}


/* grid layout section--------------------------------- */

.upperheading{
    text-align: center;
    padding-bottom: 80px;
}
.upperheading h1{
    color: #E95A08;
    font-size: 50px;
}
.upperheading p{
    font: 24px;
    color:rgba(0, 0, 0, 0.5) ;
    padding: 10px 170px;

}

/* grid layout --------------------------------------------- */

.containergrid{
    display: flex;
    padding-bottom: 50px;

}
.doubleportion{
    height: 100px;
    width: 50%;
    margin-right: 25px;

}
.halfportion{
    height: 200px;
        width: 100%;
        background-image: url(./assets/deal-bloom.png);
        margin-bottom: 20px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/deal-bloom.png');
        border-radius: 20px;
        text-align: center;


}
.secondhalf{
    height: 200px;
        width: 100%;
        background-image: url(./assets/deal-ana.png);
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/deal-ana.png');
        border-radius: 20px;
        text-align: center;

}
.rightpart{
    height: 420px;
        width: 100%;
    background-size: cover;
    background-position: center;
        background-image: url(./assets/deal-zabo.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/deal-zabo.png');
    border-radius: 20px;
    text-align: center;

}
.halfportion h1{
    font-size: 20px;
    color: white;
    padding-top: 70px;
    padding-bottom: 10px;
}
.secondhalf h1{
    font-size: 20px;
    color: white;
    padding-top: 70px;
    padding-bottom: 10px;
}
.halfportion a{
    color: white;
}
.secondhalf a{
    color: white;
}

.rightpart h1{
    font-size: 40px;
    color: white;
    padding-top: 180px;
    padding-bottom: 10px;
}
.rightpart a{
    color: white;
    font-size: 22px;
}









/* ---------------------------------------------------media quary --------------------------------*/
@media screen and (max-width: 576px){
    
    body{
        max-width: 100%;
    }

    .sitenav{
        padding-left: 30px;
        padding-right: 30px;
    }
    .navbar{
        display: none;

    }
    .logo img{
    width: 50%;
    }

    /* banner section ------------------------------------------*/

    .banner-container{
        flex-direction: column-reverse;
    }

    .bannerleft{
        /* width: 100%; */
        padding-left: 30px;
    }

     .bannerright{
        width: 100%;
     }
     .bannerright img{
        width: 100%;
     }

     .banner-container{
        margin-top: 10px;
     }

     .bannerleft h1{
    font-size: 27px;

}
    .bannerleft P{
        font-size: 14PX;
        width: 500px;
    }
    .banner-container{
        /* width: 100%; */
    }

/* card section----------------------------------------------------- */
    .cardheading h1{
    font-size: 24px;
    padding-bottom: 10px;

    }
    .cardheading p{
        font-size: 14px;
        padding: 0;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
    }

    .card-content{
    grid-template-columns: repeat(2,1fr);
    padding-left: 20px;
    padding-right: 20px;

}
        /* badge section ---------------------------------------------- */
    .badge{
        display: none;
    }
    .bannersimilar{
        display: block;
    }
    .bannerimg img{
        padding-left: 20px;
        padding-right: 20px;
    }
    .bannerlikeright{
        padding-left: 20px;
        padding-right: 20px;
        
    }
    .bannerlikeright h1{
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
    .bannerlikeright ul li{
    font-size: 14px;
    padding-bottom: 15px;

}

    /* grid layout responsive-------------------- */

    .upperheading h1{
    font-size: 24px;
}
    .upperheading p{
    font: 14px;
    padding: 10px 60px;

}
.containergrid{
    display: block;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;

}
.doubleportion{
    width: 100%;
}
.halfportion{
    width: 100%;
    background-size: cover;
}
.halfportion img{
 
}
.secondhalf{
    background-size: cover;

}

.rightpart{
    margin-top: 340px;
    height: 200px;
}

.rightpart h1{
    font-size: 20px ;
    padding: 0;
    padding-top: 70px;
}
.rightpart a{
    font-size: 16px;
}


}